.selected-backpacks{
    display: flex;
 align-items: center;
    margin: 0px 5px 15px 0px;
    width: 10vh;
}
.selected-backpacks img{
    width: 5vh;
    border-radius: 30vh;
}
.remove-btn {
    
    margin: 0px 0px 14px 6px;
    background: none;
    border: none;
    color: aliceblue;
}