.product-container{
    display: flex;
  
    margin: 5rem 0px;
  
   
    
}
.backpacks-item{
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-grow: 1;
    margin-left:5rem ;

 
 
  
}
.cart-container{
    color: white;
    margin-right: 1rem;
    background-color: #243B55;
  max-height: 520px;
    padding: 20px;
    border-radius: 20px;
}




 @media only screen and (max-width:668px){
    .product-container{
     flex-direction: column;
      
       
        
    }
    .backpacks-item{
  
      grid-template-columns: repeat(1, 1fr);
     
        
      }
      .cart-container{
          margin: 0px auto;
       order:-1;
      }

   
}  
